.trello__wrapper {
    padding: 0 20px;
    font-family: 'GraphikTT',Arial,sans-serif;
    max-width: 600px;
    margin: 0 auto;
}

.trello__wrapper h2 {
    margin: 18px 0;
}

.trello__wrapper h3 {
    margin: 16px 0;
}

.trello__wrapper p {
    margin: 12px 0;
}

.trello__list-item {
    display: flex;
    flex-direction: column;
}

.trello__list-item-header {
    border: none;
    padding: 8px 16px;
    margin-bottom: 8px;
    cursor: pointer;
    flex: 1;
    background-color: rgba(240, 240, 240);
}

.trello__item {
    padding: 8px 0;
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.trello__item-header {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.trello__card-name {
    margin: 12px 24px 12px 0;
}

.trello__button {
    height: 40px;
    min-width: 100px;
    display: block;
    border: none;
    background-color: #cce;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.trello__button-link {
    color: #0c78ed;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
}

.trello__show-more {
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.trello__disclaimer {
    margin-bottom: 24px;
}

.trello__discalimer a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.trello__disclaimer a {
    color: #0c78ed;
}

.trello__form {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 100;
    box-shadow: 0 5px 20px 0 #0000001a;
    padding: 8px 24px 24px;
    width: 320px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.trello__telegram-input {
    display: block;
    margin-bottom: 10px;
    line-height: 38px;
    padding-left: 8px;
    font-size: 16px;
    flex: 1;
}

.trello__submit-button {
    display: block;
    margin-top: 16px;
    min-height: 40px;
    border-radius: 8px;
    background-color: #cce;
    font-weight: bold;
    border: none;
    cursor: pointer;
    flex: 1;
}

.trello__close-button {
    margin-top: 10px;
    background-color: #ccc;
}

.trello__login-error {
    display: block;
    color: #f54b42;
    margin-bottom: 16px;
}

.trello__success-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
